export TF_VAR_proxmox_token="root@pam!terraform=TU-WKLEJ-TOKEN"
export TF_VAR_default_password="TU-WKLEJ-HASLO"

export NPM_URL="http://192.168.1.250:81"
export NPM_ADMIN_EMAIL="admin@twojadomena.pl"
export NPM_ADMIN_PASSWORD="TU-WKLEJ-HASLO"
